.navbar{
    background-color: #fff;

    
}
.navbar .nav-item{
    padding-right: 20px;
}
/* #showcase{
    background-image: url("../images/32011618-55E5-4CB8-90C7-3C8D576BE54E.jpg");
    background-position: center;
    
} */

.big-banner{
    background-image: url("../images/C4DDDBB4-EAEA-413B-8829-8CCB13D94DE2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.info-header{
    width: 50%;
    margin: auto;
}
.card-img-top:hover{
    opacity: 0.5;
}
.card-home:hover{
    z-index: 999;
    max-height: 800px;
    width: 400px;
    max-width: 400px;
    border: none !important;
    border-right: 60px solid transparent !important;
    border-bottom: 20px solid transparent !important;
    margin-right: -20px;
	  -webkit-transform:  translate(-15px, -20px);
	          transform:  translate(-15px, -20px);
}
.card-home:before{
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 100%;
    -webkit-transition: -webkit-box-shadow 0.6s ease;
    transition: -webkit-box-shadow 0.6s ease;
    transition: box-shadow 0.6s ease;
    transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
  }
  .card-home:hover:before
{
  max-width: 300px;
  -webkit-box-shadow: 60px 60px 20px RGBA(142, 142, 142, .6);
          box-shadow: 60px 60px 20px RGBA(142, 142, 142, .6);
}
.home-cont{
    background-image: url("../images/D0F5CE3E-696F-44A5-BED7-60620C2EDE04.jpg");
}
.underlay{
    /*display: none;*/
    margin: 0;
    padding: 0;
    max-height: 350px;
    max-width: 340px;
  }
  
  
.background{
    background-image: url("../images/67418136-246C-4E24-8D35-F63C7B947DA2.jpg");
    background-size: 150%;
}
.about-banner{
    background-image: url("../images/C5D2A078-D64E-401A-9B46-E9469AE4CA11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bomb{
    background-color: rgb(6, 37, 6);
    background-size: 100%;
}
.product-banner{
    background-image:url("../images/E398DC07-54A5-4B14-AD97-70A02D10F2AE.jpg") ;
    background-size: contain;
}
.career-banner{
    background-image: url("../images/B7C75701-D813-4AFA-9E1D-B97732256E39.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.careers-banner{
    background-size: 100%;
}
.location{
    background-image: url("../images/8D201F39-3258-4B8A-B03F-14E0D7C9E639.jpg");
    background-size:contain;
}
.produce{
    background-color: black;
}
.sustain-banner{
    background-image: url("../images/5615C197-E307-490E-BC34-2697CD8C7D9C.jpg");
    background-size: 100%;
}





/* Main Footer */
footer .main-footer{  padding: 20px 0; margin-top: 30px; background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: green;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:skyblue;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.bt{background-color: #ff8d1e; color:#fff;}
.bt:hover, .bt:focus, .bt.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

